.about-wrapper {
	background: $bg-content;
	padding-top: 8.375rem;
	padding-bottom: 8.375rem;
	@media (max-width: 768px) {
		padding-top: 4.375rem;
		padding-bottom: 4.375rem;
	}

	&__content {
		z-index: 222;
	}

	&__header {
		font-size: 2.25rem;
		font-weight: 700;
		line-height: 2.625rem;
		text-transform: uppercase;
		color: white;
		margin-bottom: 1.875rem;
	}

	&__paragraph {
		color: $color-text-small;
		font-weight: 400;
		font-size: 1rem;
		line-height: 1.5rem;
		margin-bottom: 1.25rem;
	}

	&__image {
		z-index: 222;
		@media (max-width: 1024px) {
			padding-top: 2rem;
			padding-bottom: 3.75rem;
		}
	}

	&__paragraph2 {
		margin-bottom: 1.875rem;
	}
}
