@import "assets/styles/mixins";
@import "assets/styles/variables";

.collect-set {

	max-width: 1920px;
	margin: 0 auto;
	overflow: hidden;
	padding-top: 8.375rem;
	@media (max-width: 768px) {
		padding-top: 4rem;
	}

	.collect-swiper {
		position: relative;


		&__content {
			display: flex;
			align-items: center;
			justify-content: center;
			padding: 3.1rem;
			max-height: 40rem;

			@media (max-width: 768px) {
				flex-direction: column;
				padding: 1rem;
			}
		}

		&__ball {
			width: clamp(10rem, 19vw, 19rem);
			max-width: 100%;
		}

		&__title {
			margin-top: 1.5rem;
			color: #fff;
			@include fonts(normal, 700, clamp(1.3rem, 2.5vw, 1.5rem), inherit);
		}

		&__description {
			color: #BFBEE0;
			margin-top: 1.25rem;
			@include fonts(normal, 400, clamp(0.75rem, 1.5vw, 1rem), inherit);
			max-width: 20rem;
			width: 100%;
		}

		&__info {
			display: none;
		}


		.swiper-wrapper {

			.swiper-slide-active {
				opacity: 1 !important;

				@media (min-width: 768px) {
					width: 60% !important;
					transform: scale(1) !important;
				}

				.collect-swiper__info {
					display: block;
					padding-left: 1.5rem;

					@media (max-width: 768px) {
						display: flex;
						flex-direction: column;
						align-items: center;
						justify-content: center;
						padding-left: 0;
					}
				}

			}

			.swiper-slide {
				margin: 0 auto;
				opacity: 0.3;

				@media (min-width: 768px) {
					transform: scale(0.8);
					width: 40%;
				}

			}

		}

	}

	&__title {
		@include fonts(normal, 700, clamp(1.5rem, 4.5vw, 2.25rem), inherit);
		color: $white;
		text-transform: uppercase;
	}

	.swiper-box {
		min-height: 30rem;
		padding: 1rem;

		&__slide {
			border-radius: 50%;
			background: #2D205F;
			box-shadow: 0 8px 7px rgba(21, 11, 64, 0.8);
			border: none;
			position: absolute;
			top: 50%;
			transform: translateX(-50%);
			z-index: 2;
			height: 3rem;
			width: 3rem;
			opacity: 0.7;

			&:hover, &:active, &:focus {
				background: #2D205F !important;
				box-shadow: none !important;
			}

		}

		.slide-prev {
			left: 5rem !important;

			@media (max-width: 768px) {
				left: 2rem !important;
			}
		}

		.slide-next {
			right: 5rem !important;
			transform: rotate(180deg);

			@media (max-width: 768px) {
				right: 1rem !important;
			}
		}
	}

}
