.home-benefits {
	background: $bg-content;
	padding-top: 8.375rem;
	@media (max-width: 768px) {
		padding-top: 3rem;
	}

	&__container{
		@media (max-width: 1024px) {
			flex-direction: column-reverse;
		}
	}

	&__image{
		@media (max-width: 1024px) {
			padding-bottom: 1.875rem;
		}
	}

	&__header {
		font-size: 2.25rem;
		font-weight: 700;
		line-height: 2.625rem;
		text-transform: uppercase;
		color: white;
	}

	&__list {
		margin: 1.875rem 0;
		padding: 0 1.55rem;
		&-item {
			color: $color-text-small;
		}
	}
}
