.roadmap-line {
	height: 1rem;
	background: linear-gradient(90deg, rgba(57, 54, 255, 0) 0.59%, #3936FF 52.11%, rgba(57, 54, 255, 0) 99.51%);
	margin-top: 3.75rem;
	@media (max-width: 475px) {
		height: 0.75rem;
	}

	&-circles {
		gap: 10rem;
		justify-content: center;
		align-content: center;
		cursor: pointer;
		@media (max-width: 768px) {
			gap: 6.25rem;
		}
		@media (max-width: 425px) {
			display: flex;
			gap: 3.125rem;
			justify-content: flex-end;
		}
	}

	&__big-circle {
		transition: all 1s;
		width: 3.375rem;
		height: 3.375rem;
		top: 50%;
		left: 0;
		background: $circleColor;
		transform: translate(-50%, -40%);
		@media (max-width: 475px) {
			height: 2.188rem;
			width: 2.188rem;
		}
	}

	&__block {
		background: #150B40;
		top: -120%;
		left: 50%;
		transform: translate(-50%, -50%);
		@media (max-width: 475px) {
			transform: translate(-50%, -100%);
		}

		&-title {
			font-size: 1.5rem;
			line-height: 2rem;
			margin-bottom: 0.313rem !important;
		}

		&-subtitle {
			font-size: 1rem;
			line-height: 1.375rem;
			color: $circleColor;
		}
	}

	&__small-circle {
		background: $smallCircle;
		width: 1.5rem;
		height: 1.5rem;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		@media (max-width: 475px) {
			width: 0.938rem;
			height: 0.938rem;
		}
	}

	&__vertical-line {
		width: 0.188rem;
		height: 3.125rem;
		left: 50%;
		transform: translate(-50%, -50%);
		background: $circleColor;
	}

	&__default-vertical-line {
		width: 0.188rem;
		height: 1.875rem;
		left: 50%;
		transform: translate(-50%, -50%);
		background: $circleColor;
	}

	&__default-circle {
		width: 2.188rem;
		height: 2.188rem;
		top: 50%;
		left: 0;
		background: $circleColor;
		transform: translate(-50%, -30%);
		@media (max-width: 475px) {
			width: 1.563rem;
			height: 1.563rem;
			transform: translate(-50%, -25%);
		}
	}
}
