.welcome-block {
	max-width: 1920px;
	margin: 0 auto;
	position: relative;
	background: url("assets/img/welcome/bg.svg") no-repeat center;
	padding-bottom: 8.475rem;
	@media (max-width: 768px) {
		padding-bottom: 8rem;
	}
	@media (max-width: 468px) {
		padding-bottom: 4rem;
	}

	&__left-top-circle {
		width: clamp(5rem, 20vw, 20rem);
		position: absolute;
		left: 0;
		top: 0;
	}

	&__content {
		padding-top: 9.413rem;

		@media (max-width: 768px) {
			padding-top: 4.213rem;
			flex-direction: column-reverse;
		}
	}

	&__info {
		position: relative;
		z-index: 10;
		width: 50%;

		@media (max-width: 768px) {
			width: 100%;
		}
	}

	&__balls {
		z-index: 3;
		position: absolute !important;
		right: 0;
		top: 10rem;

		@media (max-width: 769px) {
			margin-bottom: 3rem;
			display: none;
		}
	}

	&__circle {
		top: 0;
		left: 36.5%;
		margin-top: -3.75rem;
		z-index: 2;
		@media (max-width: 768px) {
			width: 30%;
			left: 46%;
			margin-top: 0.5rem;
		}
	}

	&__left-circle {
		top: 0;
		left: 0;
		margin-top: -4.375rem;
		margin-left: -8.688rem;
		@media (max-width: 768px) {
			margin-top: -13.438rem;
			margin-left: -14.125rem;
		}
	}

	&__right-circle {
		right: 0;
		margin-top: 12rem;
		@media (max-width: 769px) {
			display: none;
		}
	}

	&__title {
		font-size: clamp(2.5rem, 4.5vw, 4.5rem);
		line-height: 4.5rem;
	}

	&__paragraph {
		font-weight: 400;
		font-size: 1.25rem;
		line-height: 1.625rem;
		color: white;
	}

	&__sign-in {
		margin-left: 2rem;
		background-color: transparent;
		border: 1px solid $white;
		color: $white;
		border-radius: 0.5rem;

		&:active, &:focus, &:hover {
			outline: none;
			box-shadow: none !important;
			border: 1px solid $white;
			background-color: transparent !important;
		}

	}
}
