.header-block {
	background: transparent;

	&__logo {
		font-size: 2.25rem;
		line-height: 2rem;
		position: relative;
		z-index: 1;
	}

	&__links {
		gap: 1.25rem;
		flex-direction: row;
		
		@media (max-width: 768px) {
			flex-direction: column;
		}
	}

	&__link {
		font-weight: 600;
		font-size: 0.938rem;
		line-height: 1.375rem;
	}
}
