.header-block{
	background: $bg-content;

	&__logo{
		font-size: 2.25rem;
		line-height: 2rem;
	}

	&__links{
		gap: 1.25rem;
	}

	&__link{
		font-weight: 600;
		font-size: 0.938rem;
		line-height: 1.375rem;
	}
}
