$mintBtnBgColor: #3936FF;
$mintBtnTextColor: #fff;
$mintBtnWidth: 100%;
$mintBtnHeight: 100%;
$mintBtnFontSize: 1rem;
$mintPaddingY: 1rem;
$mintPaddingX: 1.25rem;

.universal-button{
	background: $mintBtnBgColor;
	padding: var(--mintPaddingY, $mintPaddingY) var(--mintPaddingX, $mintPaddingX);
	font-size: 1rem;
	line-height: 1.375rem;
	font-weight: 600;
	text-transform: uppercase;
	border-radius: 6px;
	color: white;
	border-color: $mintBtnBgColor ;
}

.mint-button {
	background-color: $mintBtnBgColor;
	color: var(--mintBtnTextColor, $mintBtnTextColor);
	font-size: var(--mintBtnFontSize, $mintBtnFontSize);
	width: var(--mintBtnWidth, $mintBtnWidth);
	padding: var(--mintPaddingY, $mintPaddingY) var(--mintPaddingX, $mintPaddingX);
	white-space: nowrap;
	font-size: 1rem;
	line-height: 1.375rem;
	font-weight: 600;
	border-radius: 6px;
	@media(max-width: 768px){
		margin-top: 3.125rem;
	}
	// height: var(--mintBtnHeight, $mintBtnHeight);
}

.split-mint-button, .split-mint-toggle {
	font-size: var(--mintBtnFontSize, $mintBtnFontSize);
	background-color: var(--mintBtnBgColor, $mintBtnBgColor);
	color: var(--mintBtnTextColor, $mintBtnTextColor);
}

$navbarBgColor: #343a40;
$pageBackground: #fff;
$pageTextColor: #3936FF;
$buttonBgColor: #3936FF;
$circleColor: #3936FF;


.zc-text {
	color: var(--pageTextColor, $pageTextColor) !important;
}

.zc-background {
	background-size: 100% 100%;
	background: var(--pageBackground, $pageBackground);
	color: var(--pageTextColor, $pageTextColor);
}

@media (max-width: 600px) {
	.zc-background {
		background-size: cover;
	}
}
